html {
  font-size: 16px;
}

body {
  background: linear-gradient(to right, white, lightblue, lightpink, lightgreen, lightblue, cyan);
  margin: 0;
}

section {
  background-color: turquoise;
} 

section .search {
  background-color: whitesmoke;
}
section .major-tones {
  background-color: grey;
  display: none;
}
div {
  position: relative;
  display: grid;
  columns: 8;
  margin: 0 auto;

}

#do {
  background-color: yellow;
}
#re {
  background-color: green;
}
#me {
  background-color: blue;
}
#fa {
  background-color: red;
}
#so {
  background-color: orange;
}
#la {
  background-color: pink;
}
#te {
  background-color: purple;
}
#do-top {
  background-color: brown;
}









footer {
  position: relative;
  margin-top: 800px;
}